.menu{
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.nav-menu{
    background-color: black;
}

.linha-vertical {
    height: 100px;/*Altura da linha*/
    border-left: 2px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
    top: 50%;
  }
