{% extends "base.html" %} {% block content %} {% load static %}

<section class="container-sm meio ">
    <div class="secao-meio">
        <div class="texto-secao-meio">
            <div class="col-sm-5" style="display: flex; margin-top: 5%;">
                <span><i style="display: inline-block; background: red; border-radius: 50px; width: 50px; height: 50px;text-align: center; font-size: 30px; display: flex; justify-content: center; align-items: center;" class="fas fa-home"></i></span>
                <h2 style="display: inline-block; margin-right: 1px;">IMOBILIÁRIAS</h2>
            </div>
            <h2 style="display: flex; margin-top: 5%;">
                Sistema de gestão de contratos imobiliarios
            </h2>
            <p style="display: flex; margin-top: 5%;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a viverra sapien. Donec non elit vitae massa tristique condimentum. Praesent nec viverra felis, ut scelerisque justo. Quisque tincidunt sit amet augue at tempor. Sed vehicula volutpat quam,
                id fermentum risus mattis vitae. Suspendisse potenti
            </p>
        </div>
        <div class="img-secao-meio">
            <img width="100%" src="{% static 'assets/img/hero-cel.png' %}" alt="">
        </div>
    </div>
    <button type="button" class="button-meio btn btn-danger">Conferir</button>
</section>
<div class="buttons-banner">
    <div class="content-meio">
        <h4 class="title-h4-icons">Com quem estamos transformando do mundo?</h4>
        <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de
            tipos.
        </p>
    </div>

    <div class="content-meio">
        <span><i class="fas fa-home home"></i></span>
        <h4 class="title-h4-icons">Gestão Pessoal</h4>
        <h1>+3mil</h1>
        <p>AGENDE A VISTORIA NA PLATAFORMA</p>
    </div>
    <div class="content-meio">
        <span><i class="fas fa-home home"></i></span>
        <h4 class="title-h4-icons">Gestão Pessoal</h4>
        <h1>+100mil</h1>
        <p>AGENDE A VISTORIA NA PLATAFORMA</p>
    </div>
</div>

<section class="vitorias container-sm">
    <div class="body-vitorias">
        <h4>Mais eficiência para a sua administradora</h4>
        <br>
        <div class="content-vitorias">
            <div class="img-vitorias">
                <img width="100%" src="{% static 'assets/img/features-4.png' %}" alt="">
                <h5>AUTOMATIZE 100% DO SEU FINANCEIRO</h5>
                <p>
                    Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum,
                </p>
                <br><br>
                <button type="button" class="btn btn-outline-secondary">Saiba mais <i class="fas fa-chevron-right"></i></button>
            </div>
            <div class="img-vitorias">
                <img width="100%" src="{% static 'assets/img/features-1.png' %}" alt="">
                <h5>AUTOMATIZE 100% DO SEU FINANCEIRO</h5>
                <p>
                    Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum,
                </p>
                <br><br>
                <button type="button" class="btn btn-outline-secondary">Saiba mais <i class="fas fa-chevron-right"></i></button>
            </div>
            <div class="img-vitorias">
                <img width="100%" src="{% static 'assets/img/features-2.png' %}" alt="">
                <h5>AUTOMATIZE 100% DO SEU FINANCEIRO</h5>
                <p>
                    Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum,
                </p>
                <br><br>
                <button type="button" class="btn btn-outline-secondary">Saiba mais <i class="fas fa-chevron-right"></i></button>
            </div>
        </div>
    </div>

</section>


<div class="gestao-banner">
    <div class="body-getsao">
        <h4 class="title-h4-icons">Melhore a experiência dos seus clientes com a Área do Condômino</h4>
    </div>
    <div class="content-vitorias2">
        <div class="img-vitorias2">
            <h5>AUTOMATIZE 100% DO SEU FINANCEIRO</h5>
            <p>
                Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum,
            </p>
            <br>
            <button type="button" class="btn btn-outline-secondary">Saiba mais <i class="fas fa-chevron-right"></i></button>
        </div>
        <div class="img-vitorias2">
            <h5>AUTOMATIZE 100% DO SEU FINANCEIRO</h5>
            <p>
                Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum,
            </p>
            <br>
            <button type="button" class="btn btn-outline-secondary">Saiba mais <i class="fas fa-chevron-right"></i></button>
        </div>
        <div class="img-vitorias2">
            <h5>AUTOMATIZE 100% DO SEU FINANCEIRO</h5>
            <p>
                Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum,
            </p>
            <br>
            <button type="button" class="btn btn-outline-secondary">Saiba mais <i class="fas fa-chevron-right"></i></button>
        </div>
    </div>
</div>
<section class="container-sm">
    <div class="form-contato">
        <form class="form-controle" action="" method="post">
            <h4>Fale com um consultor e conheça nossos planos</h4>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                </div>
                <br><br>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                </div>
                <br><br>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                </div>
            </div>
            <br>
            <button type="button" class="btn btn-secondary">Solicitar contato</button>
            <br>
            <p>Ou ligue 7777-7777</p>
        </form>
    </div>
</section>
<section class="container-sm container-footer">
    <div class="desc-meio">
        <h1>A plataforma de serviços financeiros criada para sua administradora de condomínios</h1>
        <p>
            Transforme-se em uma administradora do futuro. Acesse e distribua produtos e serviços aos seus condomínios e condôminos.
        </p>
        <p>+ SATISFAÇÃO AOS SEUS CLIENTES</p>
        <p>+ RECEITA PARA O SEU NEGÓCIO</p>
    </div>
    <div class="desc-meio2">
        <div>
            <img width="100%" src="{% static 'assets/img/svg/features-4.svg' %}" alt="" srcset="">
        </div>
    </div>
</section>

<section class="container-sm">
    <div class="container-baixo">
        <div class="container-baixo-2">
            <div class="content-1">
                <h3>EXPERIMENTE GRÁTIS POR 15 DIAS</h3>
                <h4>Indicamos nosso software para administradoras de todos os portes</h4>
                <br>
                <p>O Superlógica é ideal para administradoras que buscam atender as necessidades dos condomínios com excelência, menos burocracia e mais agilidade. Faça parte dessa transformação e ofereça um serviço que vai revolucionar a administração condominial.
                </p>
                <br>
                <br>
                <button type="button" class="btn btn-primary">Experimente 15 dias gratis</button>
            </div>
            <div class="content-2">
                <img width="100%" src="{% static 'assets/img/hero-img.png' %}" alt="" srcset="">
            </div>
        </div>
    </div>
</section>
<section class="container-sm">
    <div class="form-baixo">
        <div class="img-form">
            <img width="100%" src="{% static 'assets/img/features-1.png' %}" alt="" srcset="">
        </div>
        <form class="img-form" action="" method="post">
            <h3>
                Preencha o formulário e experimente gratuitamente
            </h3>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                </div>
                <br><br>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                </div>
                <br><br>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                </div>
            </div>
            <input type="checkbox" name="" id="">
            <span>Aceito os termos de serviços</span>
            <br>
            <button type="button" class="btn btn-primary">Experimente 15 dias gratis</button>
        </form>
    </div>
</section>
<section class="container-sm">
    <h3 style="text-align: center;">O que estão falando de nós</h3>
    <div class="content-vitorias3">

        <div class="img-vitorias3">
            <br>
            <i class="far fa-comment-dots"></i>
            <br>
            <br>
            <p>
                Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum,
            </p>
            <br>
            <p style="font-size: 15px; text-align: center;">Isaac de Oliveira</p>
            <p style="font-size: 12px; text-align: center;"><b>SÓCIO PROPRIETARIO</b></p>
        </div>
        <div class="img-vitorias3">
            <br>
            <i class="far fa-comment-dots"></i>
            <br>
            <br>
            <p>
                Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum,
            </p>
            <br>
            <p style="font-size: 15px; text-align: center;">Isaac de Oliveira</p>
            <p style="font-size: 12px; text-align: center;"><b>SÓCIO PROPRIETARIO</b></p>
        </div>
        <div class="img-vitorias3">
            <br>
            <i class="far fa-comment-dots"></i>
            <br>
            <br>
            <p>
                Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum,
            </p>
            <br>
            <p style="font-size: 15px; text-align: center;">Isaac de Oliveira</p>
            <p style="font-size: 12px; text-align: center;"><b>CEO</b></p>
        </div>
    </div>
</section>
<section class="container-sm">
    <div class="content-midia">
        <div>
            <h4>Onde estamos na mídia</h4>
        </div>
        <br>
        <br>
        <div class="midia-baner">
            <div class="img-midia">
                <img width="100%" src="https://logodownload.org/wp-content/uploads/2014/09/google-logo-2.png" alt="" srcset="">
            </div>

            <div class="img-midia">
                <img width="100%" src="https://logodownload.org/wp-content/uploads/2014/09/google-logo-2.png" alt="" srcset="">
            </div>

            <div class="img-midia">
                <img width="100%" src="https://logodownload.org/wp-content/uploads/2014/09/google-logo-2.png" alt="" srcset="">
            </div>

            <div class="img-midia">
                <img width="100%" src="https://logodownload.org/wp-content/uploads/2014/09/google-logo-2.png" alt="" srcset="">
            </div>


        </div>
    </div>

</section>
<section class="secao-baixo">
    <div class="content-baixo">
        <div>
            <h4>Temos o plano ideal para o porte da sua imobiliaria</h4>
        </div>
        <br>
        <div class="botoes-baixo">
            <button type="button" class="btn botao1">Ver todos os planos</button>
            <button type="button" class="btn botao2">Solicite uma demo</button>
        </div>
    </div>
</section>

{% endblock %}